.App {
  text-align: center;
  min-height: 100vh;
}
.App-header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F24A72;
}

.round-btn {
  display: block;
  border-radius: 50%;
  border-width: 0;
}

.custom-color-picker-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70vw;
  margin: 100px auto;
}

.color-round-wrap {
  position: relative;
}

.color-round-wrap .color-round {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
}

.remove-btn {
  position: absolute;
  right: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
}

.remove-btn :hover {
  cursor: pointer;
}

.remove-btn svg {
  transition: all 0.3s ease-in-out;
}

.remove-btn svg:hover {
  fill: #d82148;
}

.add-btn {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: #fff;
  border-radius: 50%;
  /* border: 2px solid #b4b4b4; */
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  padding: 0;
}

.add-btn-active {
  transform: rotate(45deg);
}

.add-btn svg:hover {
  fill: #035397;
  cursor: pointer;
}

.color-picker-wrap {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-wrap .color-add-btn {
  border: 0;
  background-color: #1363DF;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #DFF6FF;
  transition: all 0.3s ease-in-out;
}

.color-picker-wrap .color-add-btn:hover {
  background-color: #242F9B;
  cursor: pointer;
}